*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f3f0;
}

.btn-custom {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #45a049 !important;
}