* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f3f0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.btn-custom {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-custom:hover {
    background-color: #45a049 !important;
    transform: translateY(-2px);
}

.banner {
    background: linear-gradient(to right, #4CAF50, #3e8e41);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.table {
    margin-top: 20px;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.card {
    margin-top: 20px;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}